h3{
    padding-top: 50px;
    font-weight: bold;
}

.row {
    padding-top: 18px;
}

.form-group{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.btn{
    margin-right: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #572982;
    border-color: #572982;
}

.btn-primary:hover {
    background-color: #aa6ce4;
    border-color: #572982;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
  }

.hide {
    display: none;
}

ol {
    margin: 1em 0 0 0;
    padding: 0;
    list-style-position: inside;
  }

li{
    background-color: rgb(217, 180, 243);
    padding: 2px;
}